@model EDKMO.Web.Models.HomeModel
@{
    ViewBag.Title = "Календарь МОФ";
}

@section dxscripts{


    <script type="text/javascript">
        var deleteIds = null;
        function OnDeleteSelectedAppointment(s, e) {
            var selectedApptIDs = scheduler.GetSelectedAppointmentIds();
            console.log(selectedApptIDs);
            if (selectedApptIDs.length > 0) {
                deleteIds = selectedApptIDs;
            }
        }

        function OnBeginCallback(s, e) {
            if (deleteIds != null) {
                e.customArgs["cmd"] = "DELETE";
                e.customArgs["deleteIds"] = JSON.stringify(deleteIds);
                deleteIds = null;
            }
            e.customArgs['SelectedResources'] = checkListBox.GetSelectedValues().join(',');
        }

        function schedulerEndCallback(s, e) {
            $('[data-toggle="tooltip"]').tooltip();
        }

        function schedulerInit(s, e) {
            $('[data-toggle="tooltip"]').tooltip();
        }


        function OnInplaceCloseButtonClick(s, e) {
            scheduler.InplaceEditFormCancel();
        }
        function OnSaveInplaceFormData(s, e) {
            if (IsValidAppointment())
                scheduler.InplaceEditFormSave();
        }
        function OnInplaceFormMoreButtonClick(s, e) {
            scheduler.InplaceEditFormShowMore();
        }
        function OnAppointmentFormSave(s, e) {
            if (IsValidAppointment())
                scheduler.AppointmentFormSave();
        }
        function OnAppointmentFormCancel(s, e) {
            scheduler.AppointmentFormCancel()
        }
        function OnAppointmentFormDelete(s, e) {
            scheduler.AppointmentFormDelete();
        }
        function IsValidAppointment() {
            $.validator.unobtrusive.parse(document);
            return $("form").valid();
        }

        function OnAppointmentDoubleClick(s, e) {
            $('.modal').remove();
            NProgress.set(0.4);
            var url = '@Url.Action("GetEvent", "Home")';
            url += '/?id=' + e.appointmentId;
            $('#eventForm').load(url, function () {
                $('.modal').modal('show');
                NProgress.done();
            });
        }

        function SendEventDesc() {
            NProgress.set(0.4);

            var fd = new FormData();

            fd.append('EventId', $('[name="EventId"]').val());
            fd.append('EventName', $('[name="EventName"]').val());
            fd.append('ShortDescription', $('[name="ShortDescription"]').val());
            fd.append('LongDescription', $('[name="LongDescription"]').val());

            $.ajax({
                url: '@Url.Action("SaveEvent", "Home")',
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: fd,
                success: function (data) {
                    $('.modal').modal('hide');
                    scheduler.Refresh();
                    NProgress.done();
                }
            });
        }

        function SendForm() {
            NProgress.set(0.4);
           
            var fd = new FormData();

            fd.append('UserId', $('[name="UserId"]').val());
            fd.append('EventTypeId', $('[name="EventTypeId"]').val());
            fd.append('DateStart', $('[name="DateStart"]').val());
            fd.append('TimeFrom', $('[name="TimeFrom"]').val());
            fd.append('DateEnd', $('[name="DateEnd"]').val());
            fd.append('TimeTo', $('[name="TimeTo"]').val());
            fd.append('ShortDesc', $('[name="ShortDesc"]').val());
            fd.append('LongDesc', $('[name="LongDesc"]').val());

            $.ajax({
                url: '@Url.Action("CreateEventBlock", "Home")',
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: fd,
                success: function (data) {
                    $('.modal').modal('hide');
                    scheduler.Refresh();
                    NProgress.done();
                }
            });
        }

        function createNewEvent(id, name) {
            $('.modal').remove();
            NProgress.set(0.4);
            var url = '@Url.Action("EventBlockForm", "Home")';
            url += '?userId=' + id;
            url += '&userName=' + name;
            $('#eventForm').load(url, function () {
                $('.modal').modal('show');
                NProgress.done();
            });
        }
    </script>
}

@Html.Partial(Resources.GridPartialPath.UsersDropDown, Model.Users)
@Html.Partial(Resources.GridPartialPath.Scheduller, Model.SchedulerObject)

<div id="eventForm"></div>