@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ctrl = (string)ViewContext.RouteData.Values["controller"];
}

@section dxscripts{
    @Scripts.Render("~/bundle/dGis")
    @Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.GridView, ExtensionType = ExtensionType.GridView },
                new Script { ExtensionType = ExtensionType.WebDocumentViewer }
    )
    @Html.DevExpress().GetStyleSheets(
                       new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, ExtensionType = ExtensionType.GridView },
                       new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer }
    )

}

<h2>Администрирование</h2>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link @(ctrl == "Users" ? "active" : "")" href="/Manage/Users/">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ctrl == "Territories" ? "active" : "")" href="/Manage/Territories/">Территории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ctrl == "EventTypes" ? "active" : "")" href="/Manage/EventTypes/">Типы событий</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @RenderBody()
    </div>
</div>
