@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Календарь обучения</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundle/jquery")

    @RenderSection("dxscripts", required: false)
    @Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.GridView, ExtensionType = ExtensionType.GridView },
                new Script { ExtensionType = ExtensionType.WebDocumentViewer },
                new Script { ExtensionType = ExtensionType.Scheduler }
    )
    @Html.DevExpress().GetStyleSheets(
                       new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, ExtensionType = ExtensionType.GridView },
                       new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer },
                       new StyleSheet { ExtensionType = ExtensionType.Scheduler }
    )

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundle/btsp")
    @RenderSection("scriptsbottom", required: false)
</body>
</html>
