@model EventDTO

@{
    string desc = string
        .Format("{0} {1}-{2} {5} {3} {4}",
        Model.EventTypeName,
        Model.StartDate.AddHours(Model.UTCHours).ToString(@"HH:mm"),
        Model.EndDate.AddHours(Model.UTCHours).ToString(@"HH:mm"),
        Model.ShortDescription,
        Model.LongDescription,
        Model.EventName);
}
<div style="background-color:@Model.EventColor; border-round:3px;">
    <span title="@desc" class="badge badge-light"><span class="fa fa-@Model.FaIcon"></span> @Model.EventTypeName</span>
    @if (!string.IsNullOrEmpty(@Model.EventName))
    {
        if (Model.ReportMoId.HasValue)
        {
            <a class="text-primary" target="_blank" href="@(Model.ROUrl)Pages/EduReports/View.aspx?vid=@Model.ReportMoId&id=@Model.AccountId">@Model.EventName</a>
        }
        else
        {
            <span class="text-dark">@Model.EventName</span>
        }
    }
    <span class="badge badge-primary">@Model.StartDate.AddHours(Model.UTCHours).ToString(@"HH:mm")-@Model.EndDate.AddHours(Model.UTCHours).ToString(@"HH:mm")</span><br />

</div>
